include ./partials/header.pug
.login-page
  .form
    h3 Registration
    form.register-form(action='/register', method='post')
      input#user_name(type='text', name='user_name', placeholder='name')
      textarea#address(name='address', placeholder='Address')
      input#Mobile(type='text', name='email', placeholder='Email')
      input#Mobile(type='text', name='Mobile', placeholder='Mobile')
      input#password(type='text', name='password', placeholder='Password')            
      p
      input#submit(type='submit', name='submit')
      p
